@media screen and (min-width: 600px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: monospace;
        text-decoration: none;
        scroll-behavior: smooth;
        list-style-type: none;
    }
    header {
        position: fixed;
        width: 100%;
        background-color: transparent;
        padding: 20px 10%;
        z-index: 100;
        top:0;
        left:0;
        display:flex;
        justify-content: space-between;
    }

    .logo {
        font-size: 25px;
        font-weight: 700;
        color: #145780;
        -webkit-text-stroke: 1px black;
    }
    header span {
        color: #f3c9b0;
        -webkit-text-stroke: 1px black;
    }
    nav a{
        font-size: 16px;
        font-weight: 500;
        margin-left:35px;
        color:black;
        transition: 0.5s;
        border-radius:20px;
        border: 1px solid #1d7db9;
        padding: 10px;
    }
    nav ul{
        display: flex;

    }
    nav a:hover {
        color:#f3c9b0;
        box-shadow: 0 0 11px black;
        background-color: #145780;
    }
    .home {
        display:flex;
        align-items: center;
        height:100vh;
        padding: 0 10%;
    }
    .home-text {
        max-width: 700px;
    }
    .home-text h1 {
        font-size: 50px;
        font-weight: 700;
        color:#1d7db9;
        -webkit-text-stroke: 1px black;
    }
    .home-text h2 {
        font-size: 32px;
        color:#f3c9b0;
        -webkit-text-stroke: 1px black;
    }

    .home-text img {
        width:100px;
    }
    .about-img img {
        width:50%;
        height: auto;
        margin-left:100px;
        margin-top:50px;
        background-color: #f3c9b0;
        border-radius: 16px;
        border: black solid;
    }
    .about {
        display:flex;
        width:100%;
        justify-content: center;
        height:100vh;

    }
    .about-text {
        background-color: #145780;
        margin-right: 150px;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        font-size:16px;
        margin-bottom:50px;
        gap:40px;
        border-radius: 36px;
        padding:10px;
        color:white;
        border: black solid;
    }
    .about-text h3 {
        font-size: 36px;
        color:#f3c9b0;
    }
    .about-text p {
        font-size:18px;
    }
    .projects {
        height:100vh;
        font-size: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .projects_content {
        width:100%;
    }
    .projects_content ul {
        display: flex;
        justify-content: space-evenly;
    }
    .projects p {
        color: #f3c9b0;
    }
    .projects h1 {
        color: #145780;
    }
    .projects h3 {
        color: white;
        background-color: #f3c9b0;
        border-radius: 35px;
        padding:5px;
        border: black solid;
        font-size: 24px;
        margin: 5px;
    }

    .container1, .container2 {
        border: solid;
        background-color: #145780;
        height:400px;
        width:250px;
        border-radius:45px;
        transition: all ease 0.3s;
        border-color: black;
    }
    .container1:hover, .container2:hover {
        background-color: #1d7db9;
        box-shadow: 0 0 11px black;
    }
    footer {
        height: 100vh;
        display:flex;
        flex-direction: column;
        align-items: center;
        font-size: 32px;
    }
    footer p{
        margin-top:65px;
        color: #145780;
        font-weight: 600;
    }
    footer h3 {
        color: #f3c9b0;
        font-weight: 600;
    }
    .contact_content {
        background-color:#f3c9b0;
        border:solid;
        width: auto;
        display: flex;
        gap:40px;
        margin-top:15%;
        border-radius: 32px;
    }
    .contact_content img {
        width:76px;
        margin:16px;
        transition: all ease 0.3s;
        border-radius: 15px;
    }
    .contact_content img:hover {
        box-shadow: 0 0 11px black;
        background-color:#145780;
    }
    footer ul {
        display: flex;
        justify-content: space-between;
    }
}
@media screen and (max-width: 600px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: monospace;
        text-decoration: none;
        scroll-behavior: smooth;
        list-style-type: none;
    }

    header ul {
        display: none;
    }

    .logo {
        font-size: 25px;
        font-weight: 700;
        color: #145780;
        -webkit-text-stroke: 1px black;
    }

    header span {
        color: #f3c9b0;
        -webkit-text-stroke: 1px black;
    }

    header {
        box-shadow: 0 0 10px black;
        position: fixed;
        width: 100%;
        z-index: 100;
        left: 0;
        top: 0;
    }

    .home {
        display: flex;
        align-items: center;
        height: 40vh;
        padding: 0 10%;
    }

    .home-text {
        max-width: 700px;
    }

    .home-text h1 {
        font-size: 36px;
        font-weight: 700;
        color: #145780;
    }

    .home-text h2 {
        font-size: 26px;
        color: #f3c9b0;
    }

    .home-text img {
        width: 70px;
    }

    .about img {
        width: auto;
        height: 300px;
        background-color: #f3c9b0;
        border: black solid;
        border-radius: 35px;
    }

    .about {
        display: flex;
        height: 100vh;
        align-items: center;
        flex-direction: column;
    }

    .about-text {
        background-color: #f3c9b0;
        border: black solid;
        font-size: 12px;
        margin-top: 20px;
        font-weight: 600;
    }

    .about h3 {
        margin-left: 30%;
        color: #145780;
    }

    .about-text1 {
        color: #1d7db9;
    }

    .about-text2 {
        color: white;
    }

    .about-text3 {
        color: #1d7db9;
    }

    .projects {
        height: 50vh;
        font-size: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projects_content {
        width: 100%;
    }

    .projects_content ul {
        display: flex;
        justify-content: space-between;
    }

    .projects p {
        color: #f3c9b0;
    }

    .projects h1 {
        color: #145780;
        font-size: 20px;
    }

    .projects h3 {
        font-size: 24px;
    }
    .projects ul li h3 {
        margin:5px;
    }

    .container1, .container2 {
        border: black solid;
        background-color: #145780;
        height: 200px;
        width: 150px;
        border-radius: 45px;
        transition: all ease 0.3s;
    }

    .container1:hover, .container2:hover {
        background-color: #1d7db9;
        box-shadow: 0 0 11px black;
    }
        footer {                                  
            height: 40vh;
            display:flex;                         
            flex-direction: column;               
            align-items: center;                  
            font-size: 26px;
        }                                         
        footer p{                                 
            margin-top:30px;
            color: #145780;
            font-weight: 600;
        }
        footer h3 {
            color: #f3c9b0;
            font-weight: 600;
        }
        .contact_content {                        
            background-color:#f3c9b0;             
            border:solid;                         
            width: auto;
            display: flex;
            gap:10px;
            margin-top:15%;                       
            border-radius: 32px;                  
        }                                         
        .contact_content img {                    
            width:50px;
            margin:9px;
            transition: all ease 0.3s;            
            border-radius: 15px;                  
        }                                         
        .contact_content img:hover {              
            box-shadow: 0 0 11px black;           
            background-color:#145780;             
        }                                         
        footer ul {                               
            display: flex;                        
            justify-content: space-between;
            flex-direction: column;

        }
}